{% extends "base.html" %}

{% block title %}
About - Medical Check UP PT XXX
{% endblock %}

{% block content %}

<!-- Philosophy start -->
<section id="philosophy" class="pb-5 pt-4">
    <div class="container d-flex flex-column flex-lg-row-reverse justify-content-between align-items-center py-5">
        <div class="col-lg-6">
            <h1 class="fw-bold mb-1 text-primary">PHILOSOPHY</span></h1>
            <p class="lead mb-1 text-justify">
                NusaHealth was founded with a noble purpose: to make quality healthcare accessible to everyone. Rooted in Indonesia, we believe that health is not just a necessity but a fundamental right for all. Guided by our slogan “Health Care for All,” we are committed to providing comprehensive healthcare solutions, from trusted medications to modern, professional clinic services. Our experienced medical team and state-of-the-art technology enable us to deliver innovative and effective care, prioritizing prevention, early detection, and proper treatment.
            </p>
        </div>
        <div class="col-lg-5">
            <img src="static/NusaHealthApp/images/philosophy.png" class="d-block mx-auto h-100 w-100 mb-2 rounded-1"
                alt="NusaHealth" loading="lazy">
        </div>
    </div>
</section>
<!-- Philosophy end -->

<!-- Vision & Mission Start -->
<section id="vision&mission" class="py-5 bg-light">
    <div class="container py-5">
        <h1 class="text-center fw-bold text-primary">VISION & MISSION</h1>
        <p class="lead mb-5 text-secondary text-center"><i>NusaHealth’s Vision & Mission</i></p>
        <div class="d-flex flex-column flex-lg-row-reverse justify-content-between align-items-center">
            <div class="col-lg-5">
                <img src="static/NusaHealthApp/images/vision&mission.png" class="d-block mx-auto h-100 w-100 mb-2 rounded-1"
                    alt="NusaHealth" loading="lazy">
            </div>
            <div class="col-lg-6">
                <div class="mb-4">
                    <h2 class="fw-bold mb-1 text-primary">Vision</span></h1>
                    <p class="lead mb-1 text-justify">
                        To be the leading provider of healthcare services, ensuring access to high-quality healthcare for all and fostering healthier and more prosperous lives.
                    </p>
                </div>
                <h2 class="fw-bold mb-1 text-primary">Mission</span></h1>
                <ol class="lead mb-1 text-justify">
                    <li>
                        To provide comprehensive and reliable healthcare services, including the sale of medications and modern clinic care.
                    </li>
                    <li>
                        To leverage advanced technology and an experienced medical team to deliver the best possible care to patients.
                    </li>
                    <li>
                        To promote prevention, early detection, and effective treatment to enhance the quality of life in the community.
                    </li>
                    <li>
                        To offer inclusive and affordable healthcare services, staying true to our slogan, "Health Care for All."
                    </li>
                    <li>
                        To build strong relationships with the community to support sustainable public health.
                    </li>
                </ol>
                </p>
            </div>
        </div>
    </div>
</section>
<!-- Vision & Mission End -->

<!-- Business Structure Start -->
<section id="business-structure" class="py-5">
    <div class="container py-5">
        <h1 class="text-center fw-bold text-primary">BUSINESS STRUCTURE</h1>
        <p class="lead mb-5 text-secondary text-center"><i>NusaHealth’s Vision & Mission</i></p>
        <div class="d-flex flex-wrap justify-content-center gap-4">
            <div class="card border border-dark" style="width: 12rem;">
                <div class="d-flex justify-content-center pt-5 pb-3">
                    <img src="static/NusaHealthApp/images/person1.jpg" alt="" width="150rem" height="150rem" class="rounded-circle">
                </div>
                <h2 class="fw-bold text-center">
                    CEO
                </h2>
                <div class="px-3 bg-warning border-dark border-top pt-3 h-100 d-flex align-items-center justify-content-center">
                    <p class="text-white text-center fw-bold">
                        Anhar Khoirun Najib
                    </p>
                </div>
            </div>
            <div class="card border border-dark" style="width: 12rem;">
                <div class="d-flex justify-content-center pt-5 pb-3">
                    <img src="static/NusaHealthApp/images/person2.jpg" alt="" width="150rem" height="150rem" class="rounded-circle">
                </div>
                <h2 class="fw-bold text-center">
                    CTO
                </h2>
                <div class="px-3 bg-warning border-dark border-top pt-3 h-100 d-flex align-items-center justify-content-center">
                    <p class="text-white text-center fw-bold">
                        Ahmad Dhiya Ulhaqi
                    </p>
                </div>
            </div>
            <div class="card border border-dark" style="width: 12rem;">
                <div class="d-flex justify-content-center pt-5 pb-3">
                    <img src="static/NusaHealthApp/images/person3.jpg" alt="" width="150rem" height="150rem" class="rounded-circle">
                </div>
                <h2 class="fw-bold text-center">
                    CFO
                </h2>
                <div class="px-3 bg-warning border-dark border-top pt-3 h-100 d-flex align-items-center justify-content-center">
                    <p class="text-white text-center fw-bold">
                        Salwa Arlinda Humairah
                    </p>
                </div>
            </div>
            <div class="card border border-dark" style="width: 12rem;">
                <div class="d-flex justify-content-center pt-5 pb-3">
                    <img src="static/NusaHealthApp/images/person4.jpg" alt="" width="150rem" height="150rem" class="rounded-circle">
                </div>
                <h2 class="fw-bold text-center">
                    CTO
                </h2>
                <div class="px-3 bg-warning border-dark border-top pt-3 h-100 d-flex align-items-center justify-content-center">
                    <p class="text-white text-center fw-bold">
                        Muhammad Muchlis Abimanyu
                    </p>
                </div>
            </div>
            <div class="card border border-dark" style="width: 12rem;">
                <div class="d-flex justify-content-center pt-5 pb-3">
                    <img src="static/NusaHealthApp/images/person5.jpg" alt="" width="150rem" height="150rem" class="rounded-circle">
                </div>
                <h2 class="fw-bold text-center">
                    CMO
                </h2>
                <div class="px-3 bg-warning border-dark border-top pt-3 h-100 d-flex align-items-center justify-content-center">
                    <p class="text-white text-center fw-bold">
                        Natanael Primus Lung Hanyang Ngau
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Business Structure End -->

<!-- WhyChooseUs start -->
<section id="solutions" class="py-5 bg-light">
    <div class="container py-5">
        <h1 class="text-center fw-bold text-primary">SOLUTIONS</h1>
        <p class="lead mb-5 text-secondary text-center"><i>Why Choose Us?</i></p>
        <div class="d-flex flex-wrap justify-content-center gap-5">
            <div class="card shadow-btn border border-primary" style="width: 18rem;">
                <div class="d-flex justify-content-center pt-5 pb-4">
                    <i class="fa-solid fa-hand-holding-medical text-warning" style="font-size: 100px;"></i>
                </div>
                <div class="card-body px-3 py-2">
                    <h5 class="card-title py-3 m-0 text-dark border-bottom text-center fw-bold">Health Care for All</h5>
                    <p class="card-text py-3 text-secondary text-justify">
                        Dedicated to making quality healthcare accessible and affordable for everyone.
                    </p>
                </div>
            </div>
            <div class="card shadow-btn border border-primary" style="width: 18rem;">
                <div class="d-flex justify-content-center pt-5 pb-4">
                    <i class="fa-solid fa-user-doctor text-warning" style="font-size: 100px;"></i>
                </div>
                <div class="card-body px-3 py-2">
                    <h5 class="card-title py-3 m-0 text-dark border-bottom text-center fw-bold">Professionals</h5>
                    <p class="card-text py-3 text-secondary text-justify text-center">
                        Skilled and experienced professional medical personnel.
                    </p>
                </div>
            </div>
            <div class="card shadow-btn border border-primary" style="width: 18rem;">
                <div class="d-flex justify-content-center pt-5 pb-4">
                    <i class="fa-solid fa-laptop-medical text-warning" style="font-size: 100px;"></i>
                </div>
                <div class="card-body px-3 py-2">
                    <h5 class="card-title py-3 m-0 text-dark border-bottom text-center fw-bold">Cutting-Edge Technology</h5>
                    <p class="card-text py-3 text-secondary text-justify text-center">
                        Skilled and experienced team of doctors and health experts.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- WhyChooseUs end -->

{% endblock %}