{% extends "base.html" %}

{% block title %}
Activities - Nusa Health Company
{% endblock %}

{% block content %}

<!-- Activities start -->
<section id="activities" class="container py-5">
    <div class="conatiner py-5">
        <h1 class="text-center fw-bold text-primary">NusaHealth's Activities</h1>
        <p class="lead mb-5 text-secondary text-center">
            <i>Every NusaHealth activity aims to provide you with practical knowledge that can be applied in everyday life.</i>
        </p>

        <div class="text-dark border border-primary p-3 rounded shadow-btn btn" style="width: 80rem;">
            <div class="row g-0">
                <!-- Gambar di Kiri -->
                <div class="col-md-6">
                    <img src="static/NusaHealthApp/images/services2.jpg" class="d-block mx-auto w-100 mb-2 rounded-1" alt="Featured Blog Image" style="object-fit: cover;">
                </div>
                <!-- Konten di Kanan -->
                <div class="col-md-6 d-flex flex-column justify-content-center p-4 text-start">
                    <h2 class="text-primary fw-bold">Helping Our Community Get Vaccinated</h2>
                    <p class="text-secondary border-bottom pb-4 mb-4">Lorem ipsum dolor sit amet consectetur adipiscing elit mattis sit pellentesque odio sit aliquam in ridiculus neque ultricies.</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <button class="btn btn-outline-primary btn-sm">Category</button>
                        <span class="text-muted">Jan 24, 2024</span>
                    </div>
                </div>
            </div>
        </div>

         <!-- Latest Blogs Section -->
         <div id="latest-blogs" class="container my-5">
            <div class="d-flex justify-content-between align-items-center border-bottom pb-2 mb-4">
                <h2 class="fw-bold mb-1 text-primary">Latest Activities</h2>
                <div>
                    <button class="btn btn-primary me-2">Active</button>
                    <button class="btn btn-outline-primary me-2">Category</button>
                    <button class="btn btn-outline-primary me-2">Category</button>
                    <button class="btn btn-outline-primary">Category</button>
                </div>
            </div>
        </div>

        <div class="row ms-5" >
            <!-- Blog Card 1 -->
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <img src="static/NusaHealthApp/images/services2.jpg" class="card-img-top" alt="Blog 1">
                    <div class="card-body">
                        <h5 class="fw-bold mb-1 text-primary">Meet the Heroes Behind the Scenes: Celebrating Our Hospital Volunteers</h5>
                        <p class="card-text text-muted my-3">Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam in ridiculus neque ultricies.</p>
                    </div>
                    <div class="card-footer d-flex justify-content-between align-items-center">
                        <button class="btn btn-outline-primary btn-sm">Category</button>
                        <span class="text-muted">Jan 24, 2024</span>
                    </div>
                </div>
            </div>
             <!-- Blog Card 2 -->
             <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <img src="static/NusaHealthApp/images/philosophy.png" class="card-img-top" alt="Blog 2">
                    <div class="card-body">
                        <h5 class="fw-bold mb-1 text-primary">Making Healthcare Accessible: Our Commitment to Helping the Homeless</h5>
                        <p class="card-text text-muted my-3">Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam in ridiculus neque ultricies.</p>
                    </div>
                    <div class="card-footer d-flex justify-content-between align-items-center">
                        <button class="btn btn-outline-primary btn-sm">Category</button>
                        <span class="text-muted">Jan 24, 2024</span>
                    </div>
                </div>
            </div>
            <!-- Blog Card 3 -->
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <img src="static/NusaHealthApp/images/philosophy.png" class="card-img-top" alt="Blog 3">
                    <div class="card-body">
                        <h5 class="fw-bold mb-1 text-primary">Working Through the Toughest Days to Care for You</h5>
                        <p class="card-text text-muted my-3">Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam in ridiculus neque ultricies.</p>
                    </div>
                    <div class="card-footer d-flex justify-content-between align-items-center">
                        <button class="btn btn-outline-primary btn-sm">Category</button>
                        <span class="text-muted">Jan 30, 2024</span>
                    </div>
                </div>
            </div>
            <!-- Blog Card 4 -->
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <img src="static/NusaHealthApp/images/philosophy.png" class="card-img-top" alt="Blog 3">
                    <div class="card-body">
                        <h5 class="fw-bold mb-1 text-primary">Creating Spaces that Help Our Patients Heal</h5>
                        <p class="card-text text-muted my-3">Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam in ridiculus neque ultricies.</p>
                    </div>
                    <div class="card-footer d-flex justify-content-between align-items-center">
                        <button class="btn btn-outline-primary btn-sm">Category</button>
                        <span class="text-muted">Jan 30, 2024</span>
                    </div>
                </div>
            </div>
            <!-- Blog Card 5 -->
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <img src="static/NusaHealthApp/images/philosophy.png" class="card-img-top" alt="Blog 3">
                    <div class="card-body">
                        <h5 class="fw-bold mb-1 text-primary">Celebrating a Miraculous Surgery</h5>
                        <p class="card-text text-muted my-3">Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam in ridiculus neque ultricies.</p>
                    </div>
                    <div class="card-footer d-flex justify-content-between align-items-center">
                        <button class="btn btn-outline-primary btn-sm">Category</button>
                        <span class="text-muted">Jan 30, 2024</span>
                    </div>
                </div>
            </div>
            <!-- Blog Card 6 -->
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <img src="static/NusaHealthApp/images/philosophy.png" class="card-img-top" alt="Blog 3">
                    <div class="card-body">
                        <h5 class="fw-bold mb-1 text-primary">The Impact of Our Blood Donation Drive</h5>
                        <p class="card-text text-muted my-3">Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam in ridiculus neque ultricies.</p>
                    </div>
                    <div class="card-footer d-flex justify-content-between align-items-center">
                        <button class="btn btn-outline-primary btn-sm">Category</button>
                        <span class="text-muted">Jan 30, 2024</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}