{% extends "Dashboard/base.html" %}

{% block title %}
Content Management - Nusa Health Company
{% endblock %}

{% block content %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
<div class="container pb-3">
    <div class="w-100 py-3">
        <h4 class="text-center fw-bold">Web Content Management</h4>
    </div>
    <div class="d-flex flex-column gap-2 align-items-center w-100 container">

        <!-- logo -->
        <div class="w-100 bg-white border fw-bold rounded-1 shadow-sm btn-expand-management">
            <p id="logoManagementBtn" class="d-flex px-5 py-3 gap-3 align-items-center m-0 border-bottom">
                <i id="logoManagementBtnIcon" class="fa-solid fa-angles-right fs-3" style="transition: transform 0.3s ease-in-out;"></i>
                Logos Management
            </p>
            
            <div id="logoFormContainer" class="d-none px-5">
                <form id="logoForm" class="ps-4 ms-3 py-3" action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row mb-3">
                        <div class="col-md-4 mb-3">
                            <label for="primaryLogo" class="">Primary Logo</label>
                            <input type="file" class="form-control" id="primaryLogo" name="primaryLogo">
                            <img loading="lazy" id="primaryLogoPreview" class="preview mt-2 w-100" style="display: none;" />
                            {% if logo and logo.primary_logo %}
                                <img loading="lazy" id="primaryLogoNow" src="{{ logo.primary_logo.url }}" alt="Primary Logo" class="mt-2 now w-100">
                            {% else %}
                                <p id="primaryLogoPlaceholder" class=" mt-2 text-muted">No primary logo uploaded</p>
                            {% endif %}
                        </div>
                    
                        <div class="col-md-4 mb-3">
                            <label for="secondaryLogo" class="">Secondary Logo</label>
                            <input type="file" class="form-control" id="secondaryLogo" name="secondaryLogo">
                            <img loading="lazy" id="secondaryLogoPreview" class="preview mt-2 w-100" style="display: none;" />
                            {% if logo and logo.secondary_logo %}
                                <img loading="lazy" id="secondaryLogoNow" src="{{ logo.secondary_logo.url }}" alt="Secondary Logo" class="mt-2 now w-100">
                            {% else %}
                                <p id="secondaryLogoPlaceholder" class=" mt-2 text-muted">No secondary logo uploaded</p>
                            {% endif %}
                        </div>
                    </div>
                    
                    <div class="d-flex gap-3">
                        <button type="submit" class="btn btn-success px-3 fw-semibold">Save</button>
                        <button id="logoManagementBtnCancel" class="btn btn-danger px-3 fw-semibold">Cancel</button>
                    </div>
                </form>                
            </div>
        </div>
        
    </div>
</div>

{% include 'loading-spinner.html' %}

<script>
    $(document).ready(function() {

        function SuccessPopUp(message){
            Swal.fire({
                icon: 'success',
                title: 'Upload Successfully',
                text: message,
                confirmButtonText: 'Ok',
                confirmButtonColor: '#198754',
            }).then(() => {
                location.reload();
            });
        }

        function ErrorPopUp(message){
            Swal.fire({
                icon: 'error',
                title: 'Upload Failed',
                text: message,
                confirmButtonText: 'Ok',
                confirmButtonColor: '#dc3545',
            });
        }

        function buttonEvent(btn, formContainer, formInput) {
            var formElem = $('#' + formContainer);
            var iconElem = $('#' + btn + 'Icon');
            var btnElem = $('#' + btn);

            formElem.addClass('d-none').hide();
            iconElem.removeClass('rotate-down');
            btnElem.removeClass('text-primary');

            btnElem.on('click', function() {
                if (formElem.hasClass('d-none')) {
                    formElem.removeClass('d-none').stop(true, true).slideDown(300);
                    iconElem.addClass('rotate-down');
                    btnElem.addClass('text-primary');
                } else {
                    formElem.stop(true, true).slideUp(300, function() {
                        formElem.addClass('d-none');
                    });
                    iconElem.removeClass('rotate-down');
                    btnElem.removeClass('text-primary');
                }
            });

            $('#' + btn + 'Cancel').on('click', function() {
                event.preventDefault();
                formElem.stop(true, true).slideUp(300, function() {
                    formElem.addClass('d-none');
                });
                iconElem.removeClass('rotate-down');
                btnElem.removeClass('text-primary');
                $('#' + formInput)[0].reset();
                $('.preview').hide();
                $('.placeholder').show();
                $('.now').show();
                cleanTextArea();
            });
        }

        function onLoading() {
            $('#loading').removeClass('d-none');
            $('.overlay').removeClass('d-none');
        }

        function onLoaded() {
            $('#loading').addClass('d-none');
            $('.overlay').addClass('d-none');
        }

        buttonEvent('logoManagementBtn', 'logoFormContainer', 'logoForm');

        function previewImage(input, previewId, placeholderId, nowId) {
            if (input.files && input.files[0]) {
                let reader = new FileReader();
                reader.onload = function(e) {
                    $('#' + previewId).attr('src', e.target.result).show();
                    $('#' + placeholderId).hide();
                    $('#' + nowId).hide();
                };
                reader.readAsDataURL(input.files[0]);
            } else {
                $('#' + previewId).hide();
                $('#' + nowId).show();
                $('#' + placeholderId).show();
            }
        }        

        $('#primaryLogo').on('change', function() {
            previewImage(this, 'primaryLogoPreview', 'primaryLogoPlaceholder', 'primaryLogoNow');
        });

        $('#secondaryLogo').on('change', function() {
            previewImage(this, 'secondaryLogoPreview', 'secondaryLogoPlaceholder', 'secondaryLogoNow');
        });

        $('#logoForm').on('submit', function(event) {
            event.preventDefault();
            onLoading();

            let formData = new FormData(this);

            $.ajax({
                url: "{% url 'upload-logo' %}",
                type: "POST",
                data: formData,
                processData: false,
                contentType: false,
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                success: function(response) {
                    onLoaded();
                    if (response.status === 'success') {
                        SuccessPopUp(response.message);
                    } else {
                        ErrorPopUp(response.message);
                    }
                },
                error: function(xhr, status, error) {
                    onLoaded();
                    ErrorPopUp('An error occurred while uploading logos.');
                }
            });
        });

    });
</script>

{% endblock %}